<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %} - タスク管理</title>
        <link rel="stylesheet" href="../static/style.css" />
        <!-- <style>
            /* 共通のスタイル定義 */
            {% block style %} {% endblock %}
        </style> -->
    </head>
    <body>
        <div class="nav-menu">
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('tasks.index') }}" class="button">タスク一覧</a>
            <a href="{{ url_for('categories.index') }}" class="button"
                >カテゴリ管理</a
            >
            <span style="float: right">
                {{ current_user.username }} さん
                <a href="{{ url_for('auth.logout') }}" class="button button-red"
                    >ログアウト</a
                >
            </span>
            {% endif %}
        </div>

        <div class="flash-messages">
            {% with messages = get_flashed_messages(with_categories=true) %} {%
            for category, message in messages %}
            <div class="flash-message flash-{{ category }}">{{ message }}</div>
            {% endfor %} {% endwith %}
        </div>

        {% block content %}{% endblock %}
    </body>
</html>
